/*=====================Global attributes===========================*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{  
  color: #c0d8af;   
}


/*==============================================================*/


/*======================Header Atributes======================  */
body{
  position: relative;
  background-image: url("../images/bg1.png");
  background-repeat: repeat-x repeat-y;
}
.header-atr{
    background-image: url("../images/bg2.png");
    background-repeat: repeat-x repeat-y;
    position: fixed;
    z-index: 1020;
  }

.height-60{
  height: 60px;
}

.search-bar{
  height: 24px;
  border: 0;
}

.menu{
  }
.account-bar{
  height: 24px;
  font-size: 12px;
  list-style-type: none;
}

nav ul{
  style: inline-block;
  color: #c0d8af;
  list-style-type: none;
  font-family: "Gugi", cursive;
}

.logo{
  display: block;
  height:20px;
  font-family: "Gugi", cursive;
  color: #c0d8af;
  }

/* ===============END Header attributes============================= */


/* =============== main attributes ================================= */

.top-pics{
  height: 200px;
  }
/* =============== END main attributes ============================= */

/* =============== footer attributes =============================== */
.footer-atr{
  color: #c0d8af;
  font-family: 'PT Mono', monospace;
  background-image: url("../images/bg2.png");
  background-repeat: repeat-x repeat-y;  
}
/* =============== END footer attributes =========================== */


/* =============== tabs ================= */
.nav-link img{
  height: 100px;
  width: 200px;
}
.nav-link{
  background-image: url("../images/bg2.png");
  background-repeat: repeat-x repeat-y;
}